*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', system-ui, sans-serif;
  background: #1a2436;
  color: #cdd6e4;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1a2436;
}

::-webkit-scrollbar-thumb {
  background: #617891;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D5B893;
}